%h1= @article.title
= @article.content

.btn-group
	= link_to "Back", root_path, class: "btn btn-default"
	= link_to "Edit", edit_article_path, class: "btn btn-default"
	= link_to "Delete", article_path, method: :destroy, data: {confirm: "are you sure?"}, class: "btn btn-default"