!!!
%html
%head
	%title RailsWikipediaMock
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags

%body
	%nav.navbar.navbar-fixed-top.navbar-inverse 
		.container			
			.nav.navbar-nav
				= link_to "Rails Wikipedia Mock", root_path, class: "navbar-brand"
			%ul.nav.navbar-nav.navbar-right
				%li 
					= link_to "+New Article", new_article_path
	%p.notice= notice
	%p.alert= alert

	.container
		.row
			.col-md-10
				= yield
			.col-md-2
				%ul.list-group
					%li.list-group-item= link_to "All Articles", root_path
					- Category.all.each do |category|
						%li.list-group-item= link_to category.name, articles_path(category: category.name)
